<!Doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<meta charset="UTF-8"/>
		
		<title>Template Base</title>
		<!--Imports -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
				
	</head>
	
	<body>
		<nav class="blue darken-2">
			<div class="nav-wrapper container">
				<a id="logo" class="brand-logo left" href="#">SGA</a>
				<a data-target="menu-mobile" class="sidenav-trigger right" href="#">
					<i class="material-icons">menu</i>
				</a>
				
				<!-- <a data-target="nav-mobile" class="sidenav-trigger" href="#"><i class="material-icons right">menu</i></a> -->
				
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#">Inicio</a></li>
					
					<li><a data-target="cadastroL" class="dropdown-trigger" href="#">Cadastro</a></li>
						<ul id="cadastroL" class="dropdown-content">
							<li><a href="">Secretaria</a></li>
							<li><a href="">Professor</a></li>					    
						</ul>
					  
					<li><a href="">Pedagogia</a></li>
					<li><a href="">Relatorio</a></li>
					<li><a href="">Sobre</a></li>
				</ul>
				
				<ul id="menu-mobile" class="sidenav">
					<li><a href="#">Inicio</a></li>
					
					
					<li><a data-target="cadastroM" class="dropdown-trigger" href="#">Cadastro</a></li>					

					  <ul id="cadastroM" class="dropdown-content">
					    <li><a href="">Secretaria</a></li>
					    <li><a href="">Professor</a></li>					    
					  </ul>
					  
					  
					<li><a href="">Pedagogia</a></li>
					<li><a href="">Relatorio</a></li>
					<li><a href="">Sobre</a></li>
				</ul>
			</div>
		</nav>
		
		<div class="">
			<nav class="nav-wrapper blue darken-2 z-depth-0">
				<div class="container col s12">
					<a class="breadcrumb ">Inicio</a>
					<a class="breadcrumb ">Inicio</a>
					<a class="breadcrumb ">Inicio</a>
				</div>
			</nav>
		</div>
				
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
			  <br><br>
			  <h1 class="header center orange-text">Sistema de Gestão Académica</h1>
			  
			  <div class="row center">
				<h5 class="header col s12 light">Uma aplicação web para gerir a sua Escola.</h5>
			  </div>
			  
			  <div class="row center">
				<a href="#" class="btn-large waves-effect waves-light orange">Entrar</a>
			  </div>
			  <br><br>
			
			</div>
	  </div>
		
		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12">
					
						<!--   Icon Section   -->
					    <div class="row">
							<div class="col s12 m4">
								<div class="icon-block">
									<!--
									<h2 class="center light-blue-text"><i class="material-icons large">settings</i></h2>
									-->
									<h5 class="blue-text text-darken-4">Configure a sua Escola</h5>

									<p align="justify">Faca a personalizacao da aplicacao para corresponder a realidade da sua Escola. Crie o plano currricular, turmas  e registe os professores.</p>
								</div>
							</div>

							<div class="col s12 m4">
							  <div class="icon-block">
								<!--
								<h2 class="center light-blue-text"><i class="material-icons large">mode_edit</i></h2>
								-->
								<h5 class="blue-text text-darken-4">Monitore os seus Estudantes</h5>

								<p align="justify">Matricule, Inscreva, adicione os aproveitamentos e mais...</p>
							  </div>
							</div>

							<div class="col s12 m4">
							  <div class="icon-block">
								<!--
								<h2 class="center light-blue-text"><i class="material-icons large">show_chart</i></h2>
								-->
								<h5 class="blue-text text-darken-4">Esteja a par de tudo!</h5>

								<p align="justify">Obtenha resumos e graficos sobre o desempenho dos seus Estudantes e sobre a sua Escola.</p>
							  </div>
							</div>
					  </div>
	  
					</div>
				</div>
			</div>
		</div>
		
		<footer class="page-footer blue darken-2">
			<div class="container">
				<div class="row">
					<div class="col s12 l6">
						<h5>Desenvolvedores</h5>
						<p align="justify">
							Somos um grupo de Estudantes que pretende criar ferramentas que auxiliem e melhorem a forma como as instituicoes oferecem os seus servicos.
						</p>
					</div>
					
					<div class="col s12 l3 green">
						<h5>Equipa</h5>
						<ul>
							<li>Blandino Mucumbe</li>						
							<li>Eden Massalonga</li>
							<li>Edio Ngungulo</li>
							<li>Felizardo Massimbe</li>
						</ul>
					</div>
					
					<div class="col s12 l3 purple">
						<h5>Contactos</h5>
						<ul>
							<li>blandinomucumbe@gmail.com</li>						
							<li>edenmassalonga@outlook.com</li>
							<li>ediongungulo@gmail.com</li>
							<li>f2massimbe@gmail.com</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="footer-copyright">
				<div class="container">
					<p align="center">Todos Direitos Reservados &copy;</p>
				</div>
			</div>
		</footer>
		
		<!--  Scripts-->
	    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	    <script src="js/materialize.js"></script>	    		
		<script src="js/inicia.js"></script>
		
	</body>
</html>